
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  .navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .logo img {
    width: 120px; /* Ajusta el tamaño del logo */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-links a:hover {
    background-color: #ff6347;
    color: #fff;
    border-radius: 4px;
  }
  
  .nav-extras {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .search-bar {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .search-bar input {
    border: none;
    padding: 8px;
    outline: none;
  }
  
  .search-bar button {
    border: none;
    background-color: #ff6347;
    color: white;
    padding: 8px;
    cursor: pointer;
  }
  
  .social-icons a {
    margin-left: 10px;
    display: inline-block;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
  }
  
  .hero {
    background-image: url('fondo.jpg');
    background-size: cover;
    color: #333;
    text-align: center;
    padding: 100px 20px;
  }
  
  .recetas-destacadas {
    padding: 40px 20px;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .recetas {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .receta {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
  }
  
  .receta img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .boton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff6347;
    color: rgb(17, 8, 8);
    text-decoration: none;
    border-radius: 5px;
  }
  .cta-button{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff6347;
    color: rgb(17, 8, 8);
    text-decoration: none;
    border-radius: 5px;
  }
  .boton:hover {
    background-color: #ff4500;
  }
  
  footer {
    background-color: white;
    color: #333;
    text-align: center;
    padding: 20px 0;
  }
  
  footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }